@font-face{
    font-family: 'Fira Code';
    src: url('/a/css/eot/FiraCode-Light.eot');
    src: url('/a/css/eot/FiraCode-Light.eot') format('embedded-opentype'),
         url('/a/css/woff2/FiraCode-Light.woff2') format('woff2'),
         url('/a/css/woff/FiraCode-Light.woff') format('woff'),
         url('/a/css/ttf/FiraCode-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face{
    font-family: 'Fira Code';
    src: url('/a/css/eot/FiraCode-Regular.eot');
    src: url('/a/css/eot/FiraCode-Regular.eot') format('embedded-opentype'),
         url('/a/css/woff2/FiraCode-Regular.woff2') format('woff2'),
         url('/a/css/woff/FiraCode-Regular.woff') format('woff'),
         url('/a/css/ttf/FiraCode-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face{
    font-family: 'Fira Code';
    src: url('/a/css/eot/FiraCode-Medium.eot');
    src: url('/a/css/eot/FiraCode-Medium.eot') format('embedded-opentype'),
         url('/a/css/woff2/FiraCode-Medium.woff2') format('woff2'),
         url('/a/css/woff/FiraCode-Medium.woff') format('woff'),
         url('/a/css/ttf/FiraCode-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face{
    font-family: 'Fira Code';
    src: url('/a/css/eot/FiraCode-Bold.eot');
    src: url('/a/css/eot/FiraCode-Bold.eot') format('embedded-opentype'),
         url('/a/css/woff2/FiraCode-Bold.woff2') format('woff2'),
         url('/a/css/woff/FiraCode-Bold.woff') format('woff'),
         url('/a/css/ttf/FiraCode-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

body {
  padding: 25px;
  background: #111;
  color: #ccc;
  font-family: 'Fira Code', monospace;
}

h1, h2, h3 {
  font-weight: normal;
}
h1 {
  font-size: 24px;
}
h2 {
  font-size: 18px;
}
h3 {
  font-size: 16px;
}
p {
  font-size: 14px;
}
p {
  white-space: pre;	
}
a {
  color: #6699cc;
}
a:hover {
  color: #66cccc;
}
.var {
  color: #ffcc66;
}
.kw {
  color: #6699cc;
}
.str {
  color: #D3D0C8;
}

pre.drake {
  font-family: 'Fira Code', monospace;
  color: #339900;
  margin: 0px;
  font-size: 14px;
}
span.white {
  color: #F2F0EC;
}
span.cyan {
  color: #6699cc;
}
span.green {
  color: #99cc99;
}
span.red {
  color: #f2777a;
}
span.yellow {
  color: #ffcc66;
}

.p-dev_null h1 {
  text-align: center;
}

html {
    background-color: #f8f8f8;
}
.p-cv {
  padding: 25px;
  background: #fff;
  color: #666;
  font-family: helvetica,arial,"nimbus sans l",sans-serif;
  line-height: 1.4em;
  max-width: 600px;

    margin: 20px auto;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
}
.p-cv h1 {
  margin-top: 0px;
  text-align: center;
}
.p-cv h2 {
  padding: 5px;
  border: 1px solid black;
  background: #eee;
}
.p-cv h3 {
  margin: 0px;
}
.p-cv p {
  white-space: normal;
}
